* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #e9dddb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* QUESTION */

.question {
    font-size: 64px;
    color: #ffffff;
    margin-bottom: 60px;
}

/* CHECKBOX GROUP */

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* SINGLE CHECKBOX */

.checkbox {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 42px;
    color: #c95b3d;
    cursor: pointer;
}

/* HIDE REAL INPUT */

.checkbox input {
    display: none;
}

/* BOX */

.box {
    width: 60px;
    height: 60px;
    border: 4px solid #000;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CHECKMARK */

.box::after {
    content: "✔";
    font-size: 48px;
    color: #2e7d32;
    display: none;
}

/* SHOW CHECKMARK ONLY WHEN CHECKED */

.checkbox input:checked + .box::after {
    display: block;
}
